blinker            1.6.2
click              8.1.7
colorama           0.4.6
Flask              2.3.3
psycopg2           2.9.7
pycryptodome       3.18.0
python-dotenv      1.0.0
setuptools         65.5.1
Werkzeug           2.3.7
wheel              0.38.4
WTForms            3.0.1
zipp               3.16.2

flask~=2.3.3