flask~=2.3.3
psycopg2~=2.9.7
Flask-PostgreSQL~=1.1.0
Flask-SQLAlchemy~=3.0.5
Flask-WTF~=1.1.1
WTForms~=3.0.1
email-validator~=2.0.0
numpy~=1.25.2
opencv-python-headless~=4.8.0.76
google-cloud-video-live-stream~=1.5.1
Flask-SocketIO~=5.3.6
azure-messaging-webpubsubservice~=1.0.1





